<% # in app/views/clients/view.erb %>
<h2>Editing Intake Information for <%=@client.name%></h2>
<div class="form-inputs">
    <%= simple_form_for [@client] do |form| %>
        <%= form.input:name %>
        <%= form.input:counselor %>
        <%= form.input:email %>
        <%= form.input:phone_number %>
        <%= form.submit %>
 </div>
<% end %>


<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>