<% # in app/views/clients/show.html.haml %>
<h2>Intake Information for <%=@client.name%></h2>
<ul id="details">
  <li>
    Counselor:
    <%= @client.counselor %>
  </li>
  <li>
    Phone Number:
    <%= @client.phone_number %>
  </li>
  <li>
    Email:
    <%= @client.email %>
  </li>
</ul>
<h3>Upcoming Appointments:</h3>
<%= link_to 'Edit', edit_client_path(@client) %>
<%= link_to 'Back to client list', clients_path %>
