<% # in app/views/clients/show.html.haml %>
<h2>Intake Information for <%=@client.name%></h2>
<ul id="details">
  <li>
    Counselor:
    <%= @client.counselor %>
  </li>
  <li>
    Phone Number:
    <%= @client.phone_number %>
  </li>
  <li>
    Email:
    <%= @client.email %>
  </li>
</ul>
  
<% if @client_index == -1 %>
  <h3>Client has not filled out intake form.</h3>
<% else %>
<h3>Intake Form Results:</h3>
  <h4>Last filled out on <%= @spreadsheet[@client_index, 1].split(" ")[0] %>
    at <%= @spreadsheet[@client_index, 1].split(" ")[1] %> </h4>
  <ul id="details">
    <% for i in 2..@spreadsheet.num_cols do %>
      <li>
        <% if @spreadsheet[1, i][-1] != "?" %>
          <%= @spreadsheet[1, i] + ":" %>
        <% else %>
          <%= @spreadsheet[1, i] %>
        <% end %>
        <% if @spreadsheet[@client_index, i].empty? %>
          Client did not answer prompt.
        <% else %>
          <%= @spreadsheet[@client_index, i] %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>

<h3>Upcoming Appointments:</h3>

<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>

<%= link_to 'Edit', edit_client_path(@client) %>
<%= link_to 'Back to client list', clients_path %>