<%= simple_form_for @event, remote: true do |f| %>
  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.hint "No client names, please. All counselors can see the Title." %>
    <%= f.association :clients, as: :check_boxes %>
    <%= f.input :new_name, :wrapper_html => {:style => "float: left"} %>
    <%= f.input :new_email %>
    <%= f.hint "If you wish to add a new client, please enter their name and email." %>
    <%= f.association :users, as: :check_boxes %>

    <%= f.input :date_range, input_html: { class: "form-control input-sm date-range-picker" } %>
    <%= f.input_field :start, as: :hidden, value: Date.today, class: 'form-control input-sm start_hidden' %>
    <%= f.input_field :end, as: :hidden, value: Date.today, class: 'form-control input-sm end_hidden' %>
    <%= f.input :room, as: :select, collection: [['Room1','black'], ['Room2','green'], ['Room3','red']] %>
    <%= f.input :notes %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to 'Delete', 
                event, 
                method: :delete, 
                class: 'btn btn-danger', 
                data: { confirm: 'Are you sure?' }, 
                remote: true unless @event.new_record? %>
  </div>
<% end %>