<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hello <%= @name %>,</h2>
    <p>
      Thank you for making an appointment with In the Potters Hands! You have an appointment scheduled with <%= @counselors %> for <%= @event.start %>.<br>
    </p>
    <p>
      If this is your first appointment, or you have not had a chance to fill out our intake form, please visit <%= @intake_form %>.<br>
    </p>
    <p>If you have any questions related to your appointment, please contact your counselor directly.<br></p>
    <p>Thank you for your partnership! We're thrilled to have you on board.<br><br></p>
	<p>In the Potter's Hands - Christian Counseling and Ministry
	(925) 462-HEAL | (925) 323-3328 | itph.org | <%= @office_location %> <br>
	IMPORTANT: The contents of this email and any attachments are confidential. They are intended for the named recipient(s) only. If you have received this email by mistake, please notify the sender immediately and do not disclose the contents to anyone or make copies thereof.<br></p>
  </body>
</html>
