<!DOCTYPE html>
<html>
<head>
  <title>ITPH</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% flash.each do |name, msg| %>
	  <div class="flash-<%= name %>"><%= msg %></div>
	<% end %>
    <main role="main">
      <div class='container'>
        <%= yield %>
        <div id='remote_container'></div>
      </div>
    </main>
</body>
</html>
