<!DOCTYPE html>
<html>
<head>
  <title>ITPH</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <%= render "home/navbar" %>
  <% end %>
	<% flash.each do |name, msg| %>
	  <div class="alert alert-info alert-dismissible"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><%= msg %></div>
	<% end %>
    <main role="main">
      <div class='container'>
        <%= yield %>
        <div id='remote_container'></div>
      </div>
    </main>
</body>
</html>
